.el-input {
  --el-input-focus-border-color: var(--theme);
  --el-input-text-color: #000
}

.el-checkbox {
  --el-checkbox-checked-text-color: #fff;
  --el-checkbox-checked-bg-color: var(--theme);
  --el-checkbox-checked-input-border-color: var(--theme);
}

.el-button {
  background-color: var(--theme);
  color: #fff;
}

.el-button:hover,
.el-button:focus {
  background-color: var(--theme);
  color: #fff;
  filter: brightness(1.1);
}
